.alert-popup {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(44, 44, 44, 0.9); /* Темный фон с легкой прозрачностью */
    color: #e0e0e0; /* Светлый текст */
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4); /* Более темная тень */
    z-index: 1000;
    animation: fadeInOut 3s forwards;
}

.alert-popup p {
    color: #f0f0f0; /* Светлый текст */
    font-size: 1.2em;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    10%,
    90% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
}